<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="stylesheets/styles.css" media="screen" title="no title">
</head>
<body>
  <main>
    <section>
      <div id='quickLinks' class='top-bar'>
        <div class="topic-pins">
          <div id="topic-1" class='pins-container'>
            <div class="pin">
              Node
            </div>
          </div>

          <div id="topic-2" class='pins-container'>
            <div class="pin">Android</div>
          </div>

          <div id="topic-3" class='pins-container'>
            <div class="pin">React</div>
          </div>
        </div>


      </div>
    </section>

    <section class='app-canvas'>
      <div id='articles' class='article-container'>
        <article class='card'>
          <div class='logo'>
            <img src="images/nodejs.png" alt="problem"/>
          </div>
          <div class='topic'>
            NodeJS
          </div>
        </article>

        <article class='card'>
          <div class='logo'>
            <img src="images/android-logo.png" alt="rikhdbf"/>
          </div>
          <div class='topic'>
            NodeJS
          </div>
        </article>

        <article class='card'>
          <div class='logo'>
            <img src="images/nodejs.png" alt=""/>
          </div>
          <div class='topic'>
            NodeJS
          </div>
        </article>
      </div>
    </section>
    <section id="reader-view" class="reader-view hide">
      <span id='close' class='close'>
        x
      </span>
    </section>
  </main>
  <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src='javascripts/main.js'></script>
</body>
</html>
